{% extends 'Admin/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="card-body">
  <form method='POST' action="" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="form-group">
    <label>Product</label>
    {% render_field form.product_name id="product_name" placeholder="Name" class="form-control" %}
    </div>
    <div class="form-group d-none">
    <label>slug</label>
    {% render_field form.slug  id="slug" placeholder="slug" class="form-control"   %}
    </div>

    <div class="form-group">
      <label>Brand Name</label>
      {% render_field form.brand  placeholder="brand" class="form-control" %}
    </div>

    <div class="form-group">
      <label>Price</label>
      {% render_field form.price  placeholder="price" class="form-control" %}
    </div>

    <div class="form-group">
      <label>Imageg 1</label>
      {% render_field form.product_image_1   class="form-control" %}
    </div>

    <div class="form-group">
      <label>Imageg 2</label>
      {% render_field form.product_image_2  placeholder="brand" class="form-control" %}
    </div>

    <div class="form-group">
      <label>Imageg 3</label>
      {% render_field form.product_image_3  placeholder="brand" class="form-control" %}
    </div>

    <div class="form-group">
      <label>Imageg 4</label>
      {% render_field form.product_image_4  placeholder="brand" class="form-control" %}
    </div>


    <div class="form-group">
      <label>Discription</label>
      {% render_field form.product_description  placeholder="" class="form-control" %}
    </div>

    
    <div class="form-group">
      <label>Category</label>
      {% render_field form.category_id class="form-control" %}
    </div>


    <div class="form-group">
      <label>Sub Category</label>
      {% render_field form.subcategory_id class="form-control" %}
    </div>

    <div class="form-group">
      <label>Stock</label>
      {% render_field form.stock class="form-control" %}
    </div>
    
   <div class="form-gorup d-flex">
      
      <label class="">Is Active : </label>
      {% render_field form.is_active class="ml-3" style="width:30px; height:23px" %}
   </div>
  
  </div>
  <div class="d-flex ml-auto">
    <a class="btn btn-primary ml-auto mr-2" href="{% url 'product'  %}">Cancel</a>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
  
  </form>
  <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<script>
  document.getElementById("product_name").onkeyup=function(){
    document.getElementById("slug").value=document.getElementById("product_name").value.toLowerCase().replaceAll(" ","-");
  }
</script>
</body>
<!-- page-body-wrapper ends -->
</html>
<!-- container-scroller -->
{% endblock %}