{% extends 'Accounts/base.html' %}
{% load static %}

{% block content %}



        <!-- ...:::: Start Blog List Section:::... -->
        <div class="blog-section mt-5">
            <div class="container">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-lg-3">
                        <!-- Start Sidebar Area -->
                        <div class="siderbar-section" data-aos="fade-up" data-aos-delay="0">
    
                            <!-- Start Single Sidebar Widget -->
                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">Search</h6>
                                <div class="default-search-style d-flex">
                                    <input class="default-search-style-input-box" type="search" placeholder="Search..."
                                        required>
                                    <button class="default-search-style-input-btn" type="submit"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div> <!-- End Single Sidebar Widget -->
    
                            <!-- Start Single Sidebar Widget -->
                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">PRODUCT CATEGORIES</h6>
                                <div class="sidebar-content">
                                    <ul class="sidebar-menu">
                                        <li>
                                            <ul class="sidebar-menu-collapse">
                                                {% for cat in category_links %}
                                                <li class="sidebar-menu-collapse-list">
                                                    <div class="accordion">
                                                        <a  class="accordion-title collapsed"
                                                            data-bs-toggle="collapse" data-bs-target="#men-fashion-{{forloop.counter}}"
                                                            aria-expanded="false">{{cat.category_name}}<i
                                                                class="ion-ios-arrow-right"></i></a>
                                                        <div id="men-fashion-{{forloop.counter}}" class="collapse">
                                                            <ul class="accordion-category-list">
                                                                
                                                                {% for sub in cat.category.all %}
                                                                <li><a href="{% url 'product_by_sub_category' category_slug=cat.slug  sub_category_slug=sub.slug %}">{{sub.sub_category_name}}</a></li>
                                                                
                                                                {%endfor%}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li> 
                                                {%endfor%}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!-- End Single Sidebar Widget -->
    
                        </div> <!-- End Sidebar Area -->
                    </div>
                    <div class="col-lg-9">
                        <div class="blog-wrapper">
                            <div class="mb-2">
                                <span class="mr-md-auto text-dark">Found <b>{{product_count}}</b> Items</span>
                            </div>
                            <hr>
                            <div class="row mb-n6">

                                <div class="col-12">
                                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                                        <!-- Slider main container -->
                                        <div class="swiper-container product-default-slider-4grid-2row">
                                            <!-- Additional required wrapper -->
                                            <div class="swiper-wrapper">
                                                <!-- Start Product Default Single Item -->
            
            
                                                {% for product in products %}
                                                <div class="product-default-single-item product-color--pink swiper-slide">
                                                    <div class="image-box">
                                                        <a href="{{product.get_url}}" class="image-link">
                                                            <img src="{{product.product_image_1.url}}" alt="">
                                                            <img src="{{product.product_image_2.url}}" alt="">
                                                        </a>
                                                        <div class="tag">
                                                            <span>sale</span>
                                                        </div>
                                                        <div class="action-link">
                                                            <div class="action-link-left">
                                                                <a href="#" data-bs-toggle="modal"
                                                                    data-bs-target="#modalAddcart">Add to Cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <div class="content-left">
                                                            <h6 class="title"><a href="{{product.get_url}}">{{product.product_name}}</a></h6>
                                                            <ul class="review-star">
                                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                                <li class="empty"><i class="ion-android-star"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="content-right">
                                                            <span class="price">{{product.price}}</span>
                                                        </div>
            
                                                    </div>
                                                </div>
                                                {% endfor %}
            
            
            
                                                <!-- End Product Default Single Item -->
                                                
                                                
            
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ...:::: End Blog List Section:::... -->


     <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor, plugins JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-ui.min.js' %}"></script>

    <!--Plugins JS-->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/material-scrolltop.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.lineProgressbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/aos.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.instagramFeed.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-mail.js' %}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script> -->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>

{% endblock %}